@charset "gb2312";
/* CSS Document */
/*--网站建设--*/
body{
	overflow-x:hidden;
}
html{}body,html{height:100%;}body,html,span,div,ul,ol,li,dl,dd,dt,a,p,h1,h2,h3,h4,h5,h6,table,td,tr,marquee{color:#333333;list-style-type:none;margin:0;padding:0;font-family:"微软雅黑", Arial, Verdana;font-size:12px}
img{margin-top:0;margin-bottom:0;border:0 none;}
table{border-collapse:collapse;border-spacing:0;}
.cn{margin: 0 auto;}.clearfix:after{content:'\20';display:block;height:0;clear:both}.clearfix{*zoom:1}.cl{ clear:both;}.left{float: left;}.right{float: right;}
.cn1000{
	width:1000px;
	margin:0px auto;
}
.martp10px{margin-top:10px;}
.martp20px{margin-top:30px;}
.marle10px{margin-left:10px;}
.marle20px{margin-left:20px;}
.marle30px{margin-left:30px;}
.height200{ height:200px;}
.mrleri30{ margin-left:30px; margin-right:30px;}
.mrtp20{ margin-top:20px;}
.mrtp15{ margin-top:15px;}
/*-------伪类---------*/
a:link,a:visited{text-decoration:none;color:#FFF;-webkit-transition:background 0.25s ease-in 0s,border 0.25s ease-in 0s;transition:background 0.25s ease-in 0s,border 0.25s ease-in 0s;}
a:hover{text-decoration:underline;color:#ff6600;-webkit-transition:background 0.25s ease-in 0.1s,border 0.25s ease-in 0.1s;transition:background 0.25s ease-in 0.1s,border 0.25s ease-in 0.1s;}


/*文章分页样式*/
#fenye{text-align:center;width:100%;margin-top:10px;padding-top:10px;padding-bottom:10px;float: left;}
#fenye span{border:1px solid #CCC;margin:0 5px;padding:2px;}
#fenye A {BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 8px! important; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 8px! important; PADDING-BOTTOM: 4px! important; MARGIN: 2px; BORDER-LEFT: #ccc 1px solid; COLOR: #333! important; PADDING-TOP: 4px! important; BORDER-BOTTOM: #ccc 1px solid; TEXT-DECORATION: none! important}
#fenye A:visited {BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 8px! important; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 8px! important; PADDING-BOTTOM: 4px! important; MARGIN: 2px; BORDER-LEFT: #ccc 1px solid; COLOR: #333! important; PADDING-TOP: 4px! important; BORDER-BOTTOM: #ccc 1px solid; TEXT-DECORATION: none! important}
#fenye A:hover {FONT-WEIGHT: bold! important; COLOR: #0b3779! important; BACKGROUND-COLOR: #eee! important}
#fenye A:active {BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; MARGIN: 2px; BORDER-LEFT: #ccc 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #ccc 1px solid; TEXT-DECORATION: none}
#fenye SPAN.pages {BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 8px! important; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 8px! important; PADDING-BOTTOM: 4px! important; MARGIN: 2px; BORDER-LEFT: #ccc 1px solid; COLOR: #454545! important; PADDING-TOP: 4px! important; BORDER-BOTTOM: #ccc 1px solid}
#fenye SPAN.extend {BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 8px! important; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 8px! important; PADDING-BOTTOM: 4px! important; MARGIN: 2px; BORDER-LEFT: #ccc 1px solid; COLOR: #454545! important; PADDING-TOP: 4px! important; BORDER-BOTTOM: #ccc 1px solid}
#fenye SPAN.current {BORDER-RIGHT: #aaa 1px solid; PADDING-RIGHT: 8px! important; BORDER-TOP: #aaa 1px solid; PADDING-LEFT: 8px! important; PADDING-BOTTOM: 4px! important; MARGIN: 2px; BORDER-LEFT: #aaa 1px solid; COLOR: #000! important; PADDING-TOP: 4px! important; BORDER-BOTTOM: #aaa 1px solid; BACKGROUND-COLOR: #eee! important}
#info{
	text-align:center;
	margin-bottom:10px;
	margin-top: 5px;
	border-bottom-width:1px;
	border-bottom-style: dashed;
	border-bottom-color: #7D7E7E;
	line-height: 40px;
}
/*主体*/
.topwrap {
	background-color: #f2f2f2;
}
.top {
	line-height: 38px;
	height: 38px;
}
.topright span {
	color: #fc6600;
	font-size: 12px;
	padding-right: 5px;
	font-weight: normal;
}
.head {
	height: 94px;
}
.logo img {display:block;float:left;}
.tel {
	width: 220px;
	margin-top: 25px;
}
.tel dl {
	background-image: url(../pic/tel.jpg);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 42px;
	display: block;
	line-height: 18px;
	height: 37px;
}
.tel dl dt {
	font-size: 14px;
	line-height: 12px;
}
.tel dl dd {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	color: #005d9a;
	line-height: 38px;
}

#navmenu{
	background:#333;
}
#navi {
	display: block;
	height: 44px;
	overflow: hidden;
	width: 1000px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}

#navmenu ul{

}
#navmenu > ul>li{
	float:left;
	text-align:center;
	display: block;
	height: 44px;
	width: 123px;
	background-image: url(../pic/navx.gif);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 1px;
}
#navmenu>ul>li a{
	text-decoration:none;
	text-align:center;
	display:block;
	font-size: 16px;
	height: 44px;
	line-height: 44px;
}
#navmenu>ul>li a:hover{
	display:block;
	background-color: #005d9a;
	color: #FFF;
}
#navmenu>ul>li:hover{
	display:block;
	background-color: #005d9a;
	color: #FFF;
	-webkit-transition:background 0.25s ease-in 0.1s;
	transition:background 0.25s ease-in 0.1s;
}
#navmenu>ul>li:hover a{color:#fff}

#navmenu ul li ul{
	display:none;
	position:absolute;
	width:124px;
	/* [disabled]padding-bottom:12px; */
	z-index: 99999;
	background-color: #005d9a;
	background:rgba(0,93,154,.9);
	margin-left: -1px;
}
#navmenu ul li ul li{
	display:block;
	float:none;
	line-height:40px;
	margin-top: 1px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	height: 40px;
	padding: 0px;
	background-image: none;
}
#navmenu ul li ul li a {
	font-size:14px;
	line-height:40px;
	text-align: center;
	height: 40px;
	padding: 0px;
	background-image: none;
	color: #FFF;
}
#navmenu ul li ul li a:hover{
	background-image: none;
	color: #FFF;
	background-color: #066eb2;
}
#navmenu ul li:hover ul { display:block; }
#navmenu ul li.sfhover ul { display:block;}
#navi .navhome {background-image: none;}

#{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/{
	height:480px;
	width:100%;
}
#{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/_point {
	position:absolute;
	height:19px;
	margin-top:450px;
	z-index:9999;
	width:100%
}

/*幻灯*/
.banner{ width:100%; height:480px; margin:0 auto; margin-top:0px;}
#full-screen-slidera { width:100%; height:480px; float:left; position:relative}
#slidesa { display:block; width:100%; height:480px; list-style:none; padding:0; margin:0; position:relative}
#slidesa li { display:block; width:100%; height:100%; list-style:none; padding:0; margin:0; position:absolute}
#slidesa li a { display:block; width:100%; height:100%; text-indent:-9999px}
#pagination { display:block; list-style:none; position:absolute; right:48%; top:620px; z-index:9900;  padding:5px 15px 5px 0; margin:0}
#pagination li { display:block; list-style:none; width:10px; height:10px; float:left; margin-left:15px; border-radius:5px; background:#F00 }
#pagination li a { display:block; width:100%; height:100%; padding:0; margin:0;  text-indent:-9999px;}
#pagination li.current { background:#0092CE}

#{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/_list img {border:0px; width:100%; height:480px}
#{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/_bg { position:absolute; bottom:0; height:156px; z-index:1000; cursor:pointer; width:100%; margin-top:-30px;}
#{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/ ul {overflow:hidden; width:100%; height: 17px; position: absolute; bottom:5px; left: 0; zoom:1; z-index:3; text-align:center;}
#{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/ ul li {
	width: 13px;
	height: 13px;
	border:2px solid #fff;
	border-radius:50%;
	margin-right: 15px;
	cursor:pointer;
	display:inline-block;
*display:inline;	zoom:1;
	overflow: hidden;
	font-size:0;
	background-color: #fff;
}
#{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/ ul li.on {
	border:2px solid #fff;
	background: none;
}
#{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/_list a { position:absolute; display:block; width:100%; height:480px}

.index_01 {
	margin-top: 60px;
}
.index_01_t {
	background-image: url(../pic/ix.gif);
	background-repeat: repeat-x;
	background-position: center center;
	line-height: 30px;
	height: 30px;
}
.index_01_t span {
	font-size: 29px;
	width: 500px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	display: block;
	background-color: #FFF;
	text-align: center;
}
.index_01_tt {
	line-height: 45px;
	text-align: center;
}
.index_01_c {
	padding-top: 15px;
}
.index_01_cc {
	height: 253px;
	width: 311px;
	margin-top: 35px;
	border: 1px solid #eeeeee;
}
.index_01_cc:hover{box-shadow:0 0 5px #D8D8D8;}
.index_01_cc_t1 {
	height: 70px;
	width: 70px;
	border: 1px solid #767676;
	position: relative;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	top: -35px;
	background-color: #FFF;
	background-image: url(../pic/index_01_cc_t1.png);
	background-repeat: no-repeat;
	background-position: center center;
	border-radius:50%;
	transition:all 0.25s ease-in 0s;
	
}
.index_01_cc:hover .index_01_cc_t{transform:rotate(360deg);}

.index_01_cc dl dt {
	font-size: 22px;
	text-align: center;
}
.index_01_cc dl dd {
	font-size: 14px;
	text-align: center;
	margin-top: 15px;
	line-height:24px;
}
.index_01_cc_more {
	height: 40px;
	width: 110px;
	line-height: 40px;
	background-color: #005d9a;
	margin-top: 15px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
.index_01_cc_more a {
	font-size: 14px;
	color: #FFF;
	text-align: center;
	display: block;
	text-decoration: none;
}
.index_01_cc_more a:hover {
	background-color:#090;
}
.index_01_cc_t2 {
	height: 70px;
	width: 70px;
	border: 1px solid #767676;
	position: relative;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	top: -35px;
	background-color: #FFF;
	background-image: url(../pic/index_01_cc_t2.png);
	background-repeat: no-repeat;
	background-position: center center;
	border-radius:50%;
	transition:all 0.25s ease-in 0s;
	
}
.index_01_cc_t3 {
	height: 70px;
	width: 70px;
	border: 1px solid #767676;
	position: relative;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	top: -35px;
	background-color: #FFF;
	background-image: url(../pic/index_01_cc_t3.png);
	background-repeat: no-repeat;
	background-position: center center;
	border-radius:50%;
	transition:all 0.25s ease-in 0s;
	
}


.index_02wrap {
	margin-top: 35px;
	background-color: #f5f5f5;
}
.index_02 {
	padding-top: 35px;
	padding-bottom: 40px;
}

.index_02_t {
	background-image: url(../pic/ix.gif);
	background-repeat: repeat-x;
	background-position: center center;
	line-height: 30px;
	height: 30px;
}
.index_02_t span {
	font-size: 29px;
	width: 320px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	display: block;
	background-color: #F5F5F5;
	text-align: center;
}
.index_02_tt {
	line-height: 45px;
	text-align: center;
}
.index_02_c {
	padding-top: 20px;
}.index_02_c dl {
	display: block;
	float: left;
	width: 122px;
	margin-right: 10px;
	margin-left: 10px;
}
.index_02_c dl dd {
	text-align: center;
	display: block;position: relative;
}
.index_02_c dl dd img {transition:all 0.25s ease-in 0s;}
.index_02_c dl dd:hover img {transform:rotate(360deg);}

.index_02_c dl dt {
	text-align: center;
}
.index_02_c dl dt h5 {
	font-size: 16px;
	color: #010101;
	font-weight: normal;
	line-height: 25px;
	margin-bottom:15px;
	margin-top:15px;
}
.index_02_c dl dt p {
	color: #555;
	line-height:24px;
}
.index_03 {
	margin-top: 30px;
	margin-bottom: 30px;
}
.index_03_t {
	background-image: url(../pic/ix.gif);
	background-repeat: repeat-x;
	background-position: center center;
	line-height: 30px;
	height: 30px;
}
.index_03_t span {
	font-size: 29px;
	width: 370px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	display: block;
	background-color: #FFF;
	text-align: center;
}
.index_03_tt {
	line-height: 45px;
	text-align: center;
}
.index_03_c {
	background-image: url(../pic/index_03_c_bg.gif);
	height: 839px;
	background-repeat: no-repeat;
	background-position: center center;
	margin-top: 20px;
}.index_03_c dl {
	display: block;
	float: left;
	height: 205px;
	width: 250px;
	text-align: center;
}
.index_03_c dl dd {
	margin-top: 47px;
}
.index_03_c dl dd img {transition:all 0.25s ease-in 0s;}
.index_03_c dl dd:hover img {transform:rotate(360deg);}

.index_03_c dl dt {
	line-height: 24px;
	margin-top: 10px;
}

.index_03_cc {
	background-image: url(../pic/index_03_c_bg2.gif);
	height: 1139px;
	background-repeat: no-repeat;
	background-position: center center;
	margin-top: 20px;
}.index_03_cc dl {
	display: block;
	float: left;
	height: 205px;
	width: 250px;
	text-align: center;
}
.index_03_cc dl dd {
	margin-top: 47px;
}
.index_03_cc dl dd img {transition:all 0.25s ease-in 0s;}
.index_03_cc dl dd:hover img {transform:rotate(360deg);}

.index_03_cc dl dt {
	line-height: 24px;
	margin-top: 10px;
}


.index_04wrap {
	margin-top: 35px;
	background-color: #f5f5f5;
}
.index_04 {
	padding-top: 35px;
	padding-bottom: 40px;
}

.index_04_t {
	background-image: url(../pic/ix.gif);
	background-repeat: repeat-x;
	background-position: center center;
	line-height: 30px;
	height: 30px;
}
.index_04_t span {
	font-size: 29px;
	width: 190px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	display: block;
	background-color: #F5F5F5;
	text-align: center;
}
.index_04_tt {
	line-height: 45px;
	text-align: center;
}


.jzsjb{
	font-family:'微软雅黑';
}
.jzsjb .tab{
	overflow:hidden;
	text-align: center;
}
.jzsjb .tab a{
	display:inline-block;
	text-decoration:none;
	height: 33px;
	width: 108px;
	line-height: 33px;
	font-size: 14px;
	text-align: center;
	background-color: #005d9a;
	margin-right: 10px;
}
.jzsjb .tab a:hover{
	color:#fff;
	text-decoration:none;
	background-color: #005d9a;
}
.jzsjb .tab a.on{
	color:#fff;
	text-decoration:none;
	background-color: #666;
}
.jzsjb .content{}
.jzsjb .content li{
	display:none;
}
.content {
	padding-top: 30px;
	padding-left: 15px;
}
.content ul li dl {
	background-color: #FFF;
	margin-right: 10px;
	margin-left: 10px;
	display: block;
	float: left;
	padding-top: 18px;
	padding-right: 18px;
	padding-left: 18px;
	width: 268px;
}
.content ul li dl dd {
	display: block;
	overflow: hidden;
	height: 172px;
	width: 268px;
	transition:all 0.25s ease-in 0.1s;
}
.content ul li dl dd a img {
	transition:all 0.25s ease-in 0.1s;
}
.content ul li dl dd a:hover img {
	transform:scale(1.1);
}
.content ul li dl dt {
	text-align: center;
	line-height: 50px;
	height: 50px;
}
.content ul li dl dt a {
	font-size: 14px;
	text-decoration: none;
}



.index_04_more {
	background-color: #005d9a;
	height: 42px;
	width: 313px;
	margin-top: 30px;
}
.index_04_more a {
	display: block;
	line-height: 42px;
	text-align: center;
	font-size: 14px;
	text-decoration: none;
}
.index_04_more a:hover {
	background-color: #333;
	color: #FFF;
}
.main1 {
	margin-top: 26px;
}
.mne {
	width: 313px;
}
.mnet {
	line-height: 40px;
	height: 40px;
	font-size: 22px;
	color: #222;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #dfdfdf;
}
.mnet a {
	float: right;
	color: #555;
}
.mnec ul li {
	line-height: 38px;
	border-bottom-width: 1px;
	border-bottom-color: #e4e4e4;
	border-bottom-style: solid;
	background-image: url(../pic/dot.gif);
	background-repeat: no-repeat;
	background-position: 5px center;
	padding-left: 14px;
	padding-right: 5px;
}
.mnec ul li a {
	text-decoration: none;
}
.mnec ul li span {
	float: right;
	color: #555;
}

.mads {
	width: 314px;
}

/*--about/news/newslist模板页--*/
.sbn_ab{
	background-image: url(../pic/product/sbn_ab.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	height: 300px;
}
.wrapnav{
	overflow:hidden;
	text-align: center;
	height: 33px;
}
.wrapnav ul li{
	display:inline-block;
	text-decoration:none;
	height: 33px;
	width: 108px;
	line-height: 33px;
	font-size: 14px;
	text-align: center;
	background-color: #333;
	margin-right: 10px;
}
.wrapnav ul li a{
	text-decoration: none;
	display: block;
}
.wrapnav ul li a:hover{
	color:#fff;
	background-color: #005d9a;
}
.subnavon a{color:#fff;
	background-color: #005d9a;}
.wrapc {
	padding: 20px;
	line-height: 24px;
}
.wrapc p {
	margin-bottom: 10px;
}
.wrapc table {
	border-top-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-left-style: solid;
	border-top-color: #CCC;
	border-left-color: #CCC;
}
.wrapc table tr td {
	padding: 10px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #CCC;
	border-bottom-color: #CCC;
}
.wrapc h2 {
	color: #333333;
	padding-top:30px;
	font-size: 20px;
	text-align: center;
}
.nel {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #e9e9e9;
	margin-bottom: 10px;
	padding-bottom: 5px;
}
.nelt {
	line-height: 30px;
	background-image: url(../pic/nelidot.jpg);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 15px;
}
.nelt a {
	font-size: 18px;
	text-decoration: none;
}
.nelt span {
	float: right;
	color: #555;
}
.nelc {
	line-height: 27px;
	color: #555555;
}
.wrapwrap {
	background-color: #f5f5f5;
	padding-top: 20px;
}


.wrapc dl {
	background-color: #FFF;
	margin-right: 8px;
	margin-left: 8px;
	display: block;
	float: left;
	padding-top: 18px;
	padding-right: 18px;
	padding-left: 18px;
	width: 268px;
	margin-top: 15px;
	margin-bottom: 15px;
}
.wrapc dl dd {
	display: block;
	overflow: hidden;
	height: 172px;
	width: 268px;
	transition:all 0.25s ease-in 0.1s;
}
.wrapc dl dd a img {
	transition:all 0.25s ease-in 0.1s;
}
.wrapc dl dd a:hover img {
	transform:scale(1.1);
}
.wrapc dl dt {
	text-align: center;
	line-height: 50px;
	height: 50px;
}
.wrapc dl dt a {
	font-size: 14px;
	text-decoration: none;
}


/*--关于我们--*/
.ab1 {
	margin-top: 40px;
	margin-bottom: 35px;
}
.ab1ri {
	width: 510px;
}
.ab1ri h4 {
	font-size: 30px;
	line-height: 30px;
	font-weight: normal;
	margin-bottom: 10px;
	margin-top: 20px;
}
.ab1ri p {
	font-size: 14px;
	line-height: 27px;
}
.ab2wrap {
	background-image: url(../pic/about/ab2bg.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	height: 450px;
}
.ab2t {
	font-size: 36px;
	color: #FFF;
	text-align: center;
	margin-bottom: 30px;
	padding-top: 45px;
}
.ab2c {
	font-size: 14px;
	line-height: 27px;
	color: #FFF;
	text-align: center;
}
.ab2cc {
	padding-top: 80px;
}
.ab2cc dl {
	margin-right: 52px;
	margin-left: 55px;
	display: block;
	float: left;
}
.ab2cc dl dd {
	display: block;
	transition:all 0.25s ease-in 0s;
	height: 80px;
	width: 80px;
}
.ab2cc dl dd:hover{
	transform:rotate(360deg);
}
.ab2cc dl dt {
	font-size: 14px;
	line-height: 45px;
	color: #FFF;
	text-align: center;
}

.ab3wrap {
	background-image: url(../pic/about/ab3bg.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	height: 450px;
}
.ab3t {
	font-size: 36px;
	text-align: center;
	margin-bottom: 30px;
	padding-top: 45px;
}
.ab3c {
	font-size: 14px;
	line-height: 27px;
	text-align: center;
}
.ab3cc {
	padding-top: 80px;
}
.ab3cc ul li {
	display: block;
	float: left;
	margin-right: 30px;
	margin-left: 35px;
}
.ab3cc ul li img {
	display: block;
}

.ab4wrap {
	background-image: url(../pic/about/ab4bg.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	height: 440px;
}
.ab4t {
	font-size: 36px;
	margin-bottom: 30px;
	padding-top: 135px;
	color: #FFF;
}
.ab4c {
	font-size: 14px;
	line-height: 27px;
	color: #FFF;
	width: 530px;
}

.ab5wrap {
	background-image: url(../pic/about/ab5bg.jpg);
	background-repeat: no-repeat;
	background-position: center bottom;
	height: 450px;
}
.ab5t {
	font-size: 36px;
	text-align: center;
	margin-bottom: 30px;
	padding-top: 45px;
}
.ab5c {
	font-size: 14px;
	line-height: 27px;
	text-align: center;
}
.ab5cc {
	text-align: center;
	padding-top: 40px;
	margin: 0px;
}

.ab6wrap {
	background-image: url(../pic/about/ab6bg.jpg);
	background-repeat: no-repeat;
	background-position: center bottom;
	height: 450px;
}
.ab6t {
	font-size: 36px;
	text-align: center;
	margin-bottom: 30px;
	padding-top: 50px;
	color: #FFF;
}
.ab6c {
	font-size: 14px;
	line-height: 27px;
	text-align: center;
	color: #FFF;
}
.ab6cc {
	text-align: center;
	padding-top: 40px;
	margin: 0px;
}


/*--营销网站--*/
.sbn_yxwz{
	background-image: url(../pic/sbn_yxwz.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	height: 180px;
}
.yxwz_01 {
	margin-top: 30px;
}
.yxwz_01_t {
	background-image: url(../pic/ix.gif);
	background-repeat: repeat-x;
	background-position: center center;
	line-height: 30px;
	height: 30px;
}
.yxwz_01_t span {
	font-size: 29px;
	width: 330px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	display: block;
	background-color: #FFF;
	text-align: center;
}
.yxwz_01_c {
	padding-top: 30px;
}
.yxwz_01_c dl {
	display: block;
	width: 480px;
	height: 119px;
	margin-right: 10px;
	margin-left: 10px;
}
.yxwz_01_c dl dt {
	background-image: url(../pic/yxwz_01_c_img1bg.png);
	background-repeat: no-repeat;
	background-position: center top;
	height: 119px;
	width: 107px;
	display: block;
	float: left;
	margin-right: 5px;
}
.yxwz_01_c dl dt img {
	display: block;
	margin-top: 1px;
	margin-left: 1px;
	transition:all .25s ease-in 0s;
}
.yxwz_01_c dl dt img:hover {
	display: block;
	margin-top: 1px;
	margin-left: 1px;
	transform:rotate(360deg);
}
.yxwz_01_c dl dd {
	padding-top: 10px;
	display: block;
	float: left;
}
.yxwz_01_c dl dd h5 {
	font-size: 20px;
	line-height: 50px;
	font-weight: normal;
}

.yxwz_02wrap {
	background-color: #f5f5f5;
	margin-top: 25px;
}
.yxwz_02 {
	padding-top: 40px;
	padding-bottom: 40px;
}
.yxwz_02_t {
	background-image: url(../pic/ix.gif);
	background-repeat: repeat-x;
	background-position: center center;
	line-height: 30px;
	height: 30px;
}
.yxwz_02_t span {
	font-size: 29px;
	width: 390px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	display: block;
	background-color: #F5F5F5;
	text-align: center;
}
.yxwz_02_c {
	padding-top: 35px;
}
.yxwz_02_more {
	height: 40px;
	width: 110px;
	line-height: 40px;
	background-color: #ff6600;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
.yxwz_02_more a {
	font-size: 14px;
	color: #FFF;
	text-align: center;
	display: block;
	text-decoration: none;
}
.yxwz_02_more a:hover {
	background-color: #005d9a;
}

.yxwz_03 {
	margin-top: 30px;
}
.yxwz_03_t {
	background-image: url(../pic/ix.gif);
	background-repeat: repeat-x;
	background-position: center center;
	line-height: 30px;
	height: 30px;
	margin-bottom: 30px;
}
.yxwz_03_t span {
	font-size: 29px;
	width: 270px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	display: block;
	background-color: #FFF;
	text-align: center;
}
.yxwz_03_tt {
	background-color: #005d9a;
	height: 42px;
	width: 108px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	line-height: 42px;
	text-align: center;
	font-size: 18px;
	color: #FFF;
}
.yxwz_03_ttt {
	line-height: 40px;
	text-align: center;
	height: 40px;
}


.yxwz_03_c {
	padding-top: 10px;
}
.yxwz_03_c dl {
	display: block;
	float: left;
	width: 280px;
	margin-right: 26px;
	margin-left: 26px;
}
.yxwz_03_c dl dt {
	display: block;
	height: 127px;
	width: 127px;
	line-height: 127px;
	text-align: center;
	font-size: 30px;
	color: #ff0000;
	border: 1px solid #dcdcdc;
	border-radius:50%;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
.yxwz_03_c dl dd {
	text-align: center;
}
.yxwz_03_c dl dd h6 {
	font-size: 16px;
	margin-top: 10px;
	font-weight: normal;
	line-height: 24px;
}
.yxwz_03_c dl dd p {
	line-height: 22px;
}
.yxwz_03_tt2 {
	background-color: #005d9a;
	height: 42px;
	width: 108px;
	margin-top: 30px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	line-height: 42px;
	text-align: center;
	font-size: 18px;
	color: #FFF;
}
.yxwz_03_c2 {
	padding-top: 30px;
}
.yxwz_03_c2 dl {
	display: block;
	width: 480px;
	height: 119px;
	margin-right: 10px;
	margin-left: 10px;
}
.yxwz_03_c2 dl dt {
	background-image: url(../pic/yxwz_03_c_img3bg.png);
	background-repeat: no-repeat;
	background-position: center top;
	height: 117px;
	width: 121px;
	display: block;
	float: left;
	margin-right: 15px;
}
.yxwz_03_c2 dl dt img {
	display: block;
	margin-top: 2px;
	margin-left: auto;
	transition:all .25s ease-in 0s;
	margin-right: auto;
	margin-bottom: 0px;
	border-radius:50%;
}
.yxwz_03_c2 dl dt img:hover {
	transform:rotate(360deg);
}
.yxwz_03_c2 dl dd {
	padding-top: 10px;
	display: block;
	float: left;
}
.yxwz_03_c2 dl dd h5 {
	font-size: 20px;
	line-height: 40px;
	font-weight: normal;
}
.yxwz_03_c2 dl dd p {
	line-height: 22px;
}

.yxwz_04wrap {
	background-color: #efefef;
	margin-top: 35px;
}
.yxwz_04 {
	padding-top: 40px;
	padding-bottom: 40px;
}
.yxwz_04_t {
	background-image: url(../pic/ix.gif);
	background-repeat: repeat-x;
	background-position: center center;
	line-height: 30px;
	height: 30px;
}
.yxwz_04_t span {
	font-size: 29px;
	width: 500px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	display: block;
	background-color: #EFEFEF;
	text-align: center;
}
.yxwz_04_t span i {
	font-size: 29px;
	font-style: normal;
	color: #ff6600;
}

.yxwz_04_c {
	padding-top: 35px;
}
.yxwz_04_c_le {
	width: 500px;
}
.yxwz_04_c_le_01 {
	font-size: 40px;
	line-height: 73px;
	color: #ff6600;
}
.yxwz_04_c_le_02 {
	font-size: 24px;
	line-height: 38px;
}
.yxwz_04_c_le_03 {
	font-size: 17px;
	line-height: 30px;
	color: #444444;
	margin-top: 10px;
}

.yxwz_05 {
	margin-top: 30px;
}
.yxwz_05_t {
	background-image: url(../pic/ix.gif);
	background-repeat: repeat-x;
	background-position: center center;
	line-height: 30px;
	height: 30px;
}
.yxwz_05_t span {
	font-size: 29px;
	width: 220px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	display: block;
	background-color: #FFF;
	text-align: center;
}
.yxwz_05_tt {
	line-height: 45px;
	text-align: center;
}
.yxwz_05_c {
	padding-top: 15px;
}
.yxwz_05_cc {
	width: 311px;
}
.yxwz_05_cc_t1 {
	height: 183px;
	width: 171px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	background-color: #FFF;
	background-image: url(../pic/yxwz_05_c_img1.jpg);
	background-repeat: no-repeat;
	background-position: center center;	
}

.yxwz_05_cc dl dt {
	font-size: 22px;
	text-align: center;
	margin-top: 10px;
}
.yxwz_05_cc dl dd {
	text-align: center;
	margin-top: 10px;
}
.yxwz_05_cc_more {
	height: 40px;
	width: 110px;
	line-height: 40px;
	background-color: #ff6600;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
.yxwz_05_cc_more a {
	font-size: 14px;
	color: #FFF;
	text-align: center;
	display: block;
	text-decoration: none;
}
.yxwz_05_cc_more a:hover {
	background-color: #005d9a;
}
.yxwz_05_cc_t2 {
	height: 183px;
	width: 171px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	background-color: #FFF;
	background-image: url(../pic/yxwz_05_c_img2.jpg);
	background-repeat: no-repeat;
	background-position: center center;	
	
}

.yxwz_05_cc_t21 {
	height: 183px;
	width: 171px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	background-color: #FFF;
	background-image: url(../pic/yxwz_05_c_img21.jpg);
	background-repeat: no-repeat;
	background-position: center center;	
	
}
.yxwz_05_cc_t22 {
	height: 183px;
	width: 171px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	background-color: #FFF;
	background-image: url(../pic/yxwz_05_c_img22.jpg);
	background-repeat: no-repeat;
	background-position: center center;	
	
}
.yxwz_05_cc_t23 {
	height: 183px;
	width: 171px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	background-color: #FFF;
	background-image: url(../pic/yxwz_05_c_img23.jpg);
	background-repeat: no-repeat;
	background-position: center center;	
	
}


.yxwz_05_cc_t3 {
	height: 183px;
	width: 171px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	background-color: #FFF;
	background-image: url(../pic/yxwz_05_c_img3.jpg);
	background-repeat: no-repeat;
	background-position: center center;	
}
.yxwz_05_cc_t5 {
	height: 171px;
	width: 171px;
	position: relative;
	border-radius:50%;
	animation:yxwz_05_cc_t5 16s linear 0s infinite;
	-webkit-animation:yxwz_05_cc_t5 16s linear 0s infinite;
}
@keyframes yxwz_05_cc_t5{
	0%{transform:rotate(0deg);}
	100%{transform:rotate(360deg);}
	}
.yxwz_05_cc_t6 {
	background-color: #0f6ebe;
	height: 42px;
	width: 42px;
	font-size: 24px;
	color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	line-height: 42px;
	border-radius:50%;
	position: absolute;
	left: 5px;
	top:5px;
	animation:yxwz_05_cc_t6 16s linear 0s infinite;
	-webkit-animation:yxwz_05_cc_t6 16s linear 0s infinite;
}
@keyframes yxwz_05_cc_t6{
	0%{transform:rotateZ(0deg);}
	100%{transform:rotateZ(-360deg);}
	}


/*--智能建站--*/
.sbn_znjz{
	background-image: url(../pic/sbn_znjz.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	height: 350px;
}
.sbn_znjz_bnt {
	height: 50px;
	width: 280px;
	padding-top: 170px;
	padding-left: 20px;
}
.sbn_znjz_bnt a {
	display: block;
	background-image: url(../pic/sbn_znjz_bnt.png);
	background-repeat: no-repeat;
	background-position: center center;
	text-decoration: none;
	height: 50px;
	width: 280px;
}
.sbn_znjz_bnt a:hover {
	background-image: url(../pic/sbn_znjz_bntho.png);
}
.znjz_01 {
	background-image: url(../pic/znjz_01bg.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	height: 428px;
}
.znjz_01_bnt {
	float: right;
	margin-top: 259px;
	margin-right: 234px;
	height: 44px;
	width: 191px;
}
.znjz_01_bnt a {
	display: block;
	height: 44px;
	width: 191px;
	text-decoration: none;
	background-image: url(../pic/znjz_bnt.png);
	background-repeat: no-repeat;
	background-position: center center;
}
.znjz_01_bnt a:hover {
	background-image: url(../pic/znjz_bntho.png);
}
.znjz_02wrap {
	background-image: url(../pic/znjz_02bg.jpg);
	background-repeat: no-repeat;
	background-position: center center;
}
.znjz_02 {
	height: 500px;
}
.znjz_02_bnt {
	float: left;
	height: 44px;
	width: 191px;
	padding-left: 25px;
	padding-top: 333px;
}
.znjz_02_bnt a {
	display: block;
	height: 44px;
	width: 191px;
	text-decoration: none;
	background-image: url(../pic/znjz_bnt.png);
	background-repeat: no-repeat;
	background-position: center center;
}
.znjz_02_bnt a:hover {
	background-image: url(../pic/znjz_bntho.png);
}
.znjz_03 {
	background-image: url(../pic/znjz_03bg.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	height: 428px;
}
.znjz_03_bnt {
	float: right;
	margin-top: 186px;
	margin-right: 110px;
	height: 44px;
	width: 191px;
}
.znjz_03_bnt a {
	display: block;
	height: 44px;
	width: 191px;
	text-decoration: none;
	background-image: url(../pic/znjz_bnt.png);
	background-repeat: no-repeat;
	background-position: center center;
}
.znjz_03_bnt a:hover {
	background-image: url(../pic/znjz_bntho.png);
}
.znjz_04 {
	background-image: url(../pic/znjz_04bg.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	height: 374px;
}
.znjz_05wrap {
	background-color: #EEE;
}
.znjz_05 {
	height: 642px;
	background-image: url(../pic/znjz_05bg.jpg);
	background-repeat: no-repeat;
	background-position: center center;
}
.znjz_05_bnt {
	height: 44px;
	width: 191px;
	padding-top: 530px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
.znjz_05_bnt a {
	display: block;
	height: 44px;
	width: 191px;
	text-decoration: none;
	background-image: url(../pic/znjz_bnt.png);
	background-repeat: no-repeat;
	background-position: center center;
}
.znjz_05_bnt a:hover {
	background-image: url(../pic/znjz_bntho.png);
}

/*--手机建站--*/
.sbn_sjjz{
	background-image: url(../pic/sbn_sjjz.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	height: 396px;
}
.sbn_sjjz_bnt {
	height: 50px;
	width: 280px;
	padding-top: 305px;
	padding-left: 853px;
}
.sbn_sjjz_bnt a {
	display: block;
	background-image: url(../pic/sbn_sjjz_bnt.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	text-decoration: none;
	height: 51px;
	width: 146px;
}
.sjjz_01 {
	background-image: url(../pic/sjjz_01.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	height: 420px;
}
.sjjz_02 {
	background-image: url(../pic/sjjz_02.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	height: 430px;
}
.sjjz_03 {
	background-image: url(../pic/sjjz_03.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	height: 388px;
}
.sjjz_04 {
	background-image: url(../pic/sjjz_04.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	height: 699px;
}
.sjjz_05 {
	background-image: url(../pic/sjjz_05.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	height: 547px;
}
.sjjz_06 {
	background-image: url(../pic/sjjz_06.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	height: 659px;
	margin-top: 10px;
}

/*--SEO优化--*/
.sbn_seo{
	background-image: url(../pic/sbn_seo.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	height: 240px;
}
.seo_01 {
	background-image: url(../pic/seo_01.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	height: 472px;
}
.seo_02 {
	background-image: url(../pic/seo_02.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	height: 380px;
}
.seo_03 {
	background-image: url(../pic/seo_03.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	height: 468px;
}

/*--400电话--*/
.sbn_dh400{
	background-image: url(../pic/sbn_dh400.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	height: 396px;
}
.sbn_dh400_bnt {
	padding-top: 267px;
	padding-left: 478px;
}
.sbn_dh400_bnt a {
	font-size: 18px;
	background-color: #e71e30;
	height: 40px;
	width: 141px;
	line-height: 40px;
	color: #FFF;
	text-align: center;
	display: block;
	border-radius:3px;
	text-decoration: none;
}
.sbn_dh400_bnt a:hover {
	background-color: #CD1628;
}
.dh400_01 {
	background-image: url(../pic/dh400_01.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	height: 621px;
}
.dh400_02wrap {
	background-color: #fec66f;
	background-image: url(../pic/dh400_02.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	height: 496px;
}
.dh400_02_bnt {
	padding-top: 369px;
	padding-left: 752px;
	height: 72px;
	width: 245px;
}
.dh400_02_bnt a {
	line-height: 72px;
	color: #E6564D;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	display: block;
}
.dh400_03 {
	background-image: url(../pic/dh400_03.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	height: 411px;
}
.dh400_04wrap {
	background-color: #F8F8F8;
	margin-top: 40px;
}
.dh400_04 {
	background-image: url(../pic/dh400_04.jpg);
	background-repeat: repeat;
	background-position: center center;
	height: 789px;
}
.dh400_05 {
	background-image: url(../pic/dh400_05.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	height: 479px;
}

/*--商机发布引擎--*/
.sbn_yhdl_wrap {
	height: 100px;
	background-image: url(../pic/sbn_yhdl_wrap.jpg);
	background-repeat: repeat-x;
}
.sbn_yhdl {
	height: 100px;
	background-image: url(../pic/sbn_yhdl.jpg);
	background-repeat: no-repeat;
	background-position: center top;
}
.sbn_yhdl p {
	color: #FFF;
	padding-top: 50px;
	padding-left: 145px;
}


.yhdl_01 {
	margin-top: 20px;
}
.yhdl_01_c {
	margin-top: 20px;
	border: 1px solid #eeeeee;
}
.yhdl_01_c1 {
	width: 331px;
	border-right-width: 1px;
	border-right-style: dashed;
	border-right-color: #e5e5e5;
	transition:all 0.25s ease-in 0.1s;
}
.yhdl_01_c1:hover{box-shadow:0 0 5px #ccc;}
.yhdl_01_c1t {
	line-height: 48px;
	background-image: url(../pic/yhdl_01_dot.png);
	background-repeat: no-repeat;
	padding-left: 58px;
	font-size: 30px;
	color: #444444;
	transition:all 0.25s ease-in 0.1s;
}
.yhdl_01_c1t:hover {
	line-height: 48px;
	background-image: url(../pic/yhdl_01_dotho.png);
	background-repeat: no-repeat;
	padding-left: 58px;
	font-size: 30px;
	color: #ff6600;
}
.yhdl_01_c1c {
	line-height: 24px;
}
.yhdl_01_c2 {
	width: 331px;
	border-right-width: 1px;
	border-right-style: dashed;
	border-right-color: #e5e5e5;
	transition:all 0.25s ease-in 0.1s;
}
.yhdl_01_c2:hover{box-shadow:0 0 5px #ccc;}
.yhdl_01_c2t {
	line-height: 48px;
	background-image: url(../pic/yhdl_01_dot.png);
	background-repeat: no-repeat;
	padding-left: 55px;
	font-size: 30px;
	color: #444444;
	background-position: 0px -115px;
	transition:all 0.25s ease-in 0.1s;
}
.yhdl_01_c2t:hover {
	line-height: 48px;
	background-image: url(../pic/yhdl_01_dotho.png);
	background-repeat: no-repeat;
	padding-left: 55px;
	font-size: 30px;
	color: #ff6600;
	background-position: 0px -115px;
}
.yhdl_01_c2c {
	line-height: 24px;
}
.yhdl_01_c3 {
	width: 332px;
	transition:all 0.25s ease-in 0.1s;
}
.yhdl_01_c3:hover{box-shadow:0 0 5px #ccc;}
.yhdl_01_c3t {
	line-height: 50px;
	background-image: url(../pic/yhdl_01_dot.png);
	background-repeat: no-repeat;
	padding-left: 55px;
	font-size: 30px;
	color: #444444;
	background-position: 0px -254px;
	transition:all 0.25s ease-in 0.1s;
}
.yhdl_01_c3t:hover {
	line-height: 50px;
	background-image: url(../pic/yhdl_01_dotho.png);
	background-repeat: no-repeat;
	padding-left: 55px;
	font-size: 30px;
	color: #ff6600;
	background-position: 0px -254px;
}
.yhdl_01_c3c {
	line-height: 24px;
}
.yhdl_01_c4 {
	width: 331px;
	border-right-width: 1px;
	border-right-style: dashed;
	border-right-color: #e5e5e5;
	border-top-width: 1px;
	border-top-style: dashed;
	border-top-color: #e5e5e5;
	transition:all 0.25s ease-in 0.1s;
}
.yhdl_01_c4:hover{box-shadow:0 0 5px #ccc;}
.yhdl_01_c4t {
	line-height: 48px;
	background-image: url(../pic/yhdl_01_dot.png);
	background-repeat: no-repeat;
	padding-left: 55px;
	font-size: 30px;
	color: #444444;
	background-position: 0px -179px;
	transition:all 0.25s ease-in 0.1s;
}
.yhdl_01_c4t:hover {
	line-height: 48px;
	background-image: url(../pic/yhdl_01_dotho.png);
	background-repeat: no-repeat;
	padding-left: 55px;
	font-size: 30px;
	color: #ff6600;
	background-position: 0px -179px;
}
.yhdl_01_c4c {
	line-height: 24px;
}
.yhdl_01_c5 {
	width: 331px;
	border-right-width: 1px;
	border-right-style: dashed;
	border-right-color: #e5e5e5;
	border-top-width: 1px;
	border-top-style: dashed;
	border-top-color: #e5e5e5;
	transition:all 0.25s ease-in 0.1s;
}
.yhdl_01_c5:hover{box-shadow:0 0 5px #ccc;}
.yhdl_01_c5t {
	line-height: 48px;
	background-image: url(../pic/yhdl_01_dot.png);
	background-repeat: no-repeat;
	padding-left: 55px;
	font-size: 30px;
	color: #444444;
	background-position: 0px -57px;
	transition:all 0.25s ease-in 0.1s;
}
.yhdl_01_c5t:hover {
	line-height: 48px;
	background-image: url(../pic/yhdl_01_dotho.png);
	background-repeat: no-repeat;
	padding-left: 55px;
	font-size: 30px;
	color: #ff6600;
	background-position: 0px -57px;
}
.yhdl_01_c5c {
	line-height: 24px;
}
.yhdl_01_c6 {
	width: 332px;
	border-top-width: 1px;
	border-top-style: dashed;
	border-top-color: #e5e5e5;
	transition:all 0.25s ease-in 0.1s;
}
.yhdl_01_c6:hover{box-shadow:0 0 5px #ccc;}
.yhdl_01_c6t {
	line-height: 48px;
	background-image: url(../pic/yhdl_01_dot.png);
	background-repeat: no-repeat;
	padding-left: 55px;
	font-size: 30px;
	color: #444444;
	background-position: 0px -327px;
	transition:all 0.25s ease-in 0.1s;
}
.yhdl_01_c6t:hover {
	line-height: 48px;
	background-image: url(../pic/yhdl_01_dotho.png);
	background-repeat: no-repeat;
	padding-left: 55px;
	font-size: 30px;
	color: #ff6600;
	background-position: 0px -327px;
	
}
.yhdl_01_c6c {
	line-height: 24px;
}

.yhdl_03 {
	margin-top: 20px;
}
.yhdl_03_c {
	border: 1px solid #eeeeee;
	margin-top: 20px;
}
.yhdl_03_c1 {
	width: 332px;
	transition:all 0.25s ease-in 0.1s;
}
.yhdl_03_c1:hover{box-shadow:0 0 5px #ccc;}
.yhdl_03_c1img{
	margin-right: 31px;
	margin-left: 31px;
	margin-top: 20px;
}
.yhdl_03_c1t {
	font-size: 18px;
	margin-left: 31px;
	margin-top: 10px;
	color: #444444;
}
.yhdl_03_c1c {
	line-height: 24px;
	margin-left: 31px;
	margin-top: 10px;
	margin-right: 31px;
	margin-bottom: 20px;
}
.yhdl_03_c2 {
	width: 330px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: dashed;
	border-left-style: dashed;
	border-right-color: #e5e5e5;
	border-left-color: #e5e5e5;
	transition:all 0.25s ease-in 0.1s;
}
.yhdl_03_c2:hover{box-shadow:0 0 5px #ccc;}
.yhdl_03_c2img{
	margin-right: 31px;
	margin-left: 31px;
	margin-top: 20px;
}
.yhdl_03_c2t {
	font-size: 18px;
	margin-left: 31px;
	margin-top: 10px;
	color: #444444;
}
.yhdl_03_c2c {
	line-height: 24px;
	margin-left: 31px;
	margin-top: 10px;
	margin-right: 31px;
	margin-bottom: 20px;
}
.yhdl_03_c3 {
	width: 332px;
	transition:all 0.25s ease-in 0.1s;
}
.yhdl_03_c3:hover{box-shadow:0 0 5px #ccc;}
.yhdl_03_c3img{
	margin-right: 31px;
	margin-left: 31px;
	margin-top: 20px;
}
.yhdl_03_c3t {
	font-size: 18px;
	margin-left: 31px;
	margin-top: 10px;
	color: #444444;
}
.yhdl_03_c3c {
	line-height: 24px;
	margin-left: 31px;
	margin-top: 10px;
	margin-right: 31px;
	margin-bottom: 20px;
}
.yhdl_more {
	height: 40px;
	width: 110px;
	line-height: 40px;
	background-color: #ff6600;
	margin-top: 20px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
.yhdl_more a {
	font-size: 14px;
	color: #FFF;
	text-align: center;
	display: block;
	text-decoration: none;
}
.yhdl_more a:hover {
	background-color: #005d9a;
}


.footwrap {
	background-color: #414141;
}
.foot {
	line-height: 38px;
	height: 38px;
	text-align: center;
	color: #FFF;
}
.foot a {
	color: #FFF;
}
.ft {
	text-align: center;
	line-height: 20px;
	margin-top: 5px;
}


.compare_btm_container{
    font-size: 18px;
    line-height: 50px;
    color: #444;
    font-weight: 200;

}
.price_title{
    font-size: 30px;
    color: #000;
    margin-top: 60px;
    margin-bottom:32px;
}